.classy-nav-container a{
    font-size: 17px !important;
}
.lang-info{
    border-left: 1px solid #ebebeb;
    height: 100%;
}
.lang-info form{
    margin-top: 20px; 
}
.lang-info form .nice-select{
    border:none;
    font-size: 17px;
}
a{
    font-size: 17px !important;
}
.list-group-item.active a{
    color: #fff;
}
#language{
    max-height: 150px;
    overflow: auto;
}
.shop_sidebar_area a{
    font-size: 16px !important;
    color: #333;
}

.header_area .favourite-area a span, .header_area .user-login-info a span, .header_area .cart-area a span{
    right: 22px;
}

@media only screen and (max-width: 500px) {
    .header_area .classy-navbar{
        height: auto;
    }
    .lang-info form{
        margin-top: 0;
    }
    .header_area .header-meta{
        height: 43px;
    }
    .header_area .favourite-area a, .header_area .user-login-info a, .header_area .cart-area a{
        min-width: auto;
    }
    .header_area .favourite-area a span, .header_area .user-login-info a span, .header_area .cart-area a span{
        top: -12px;
        right: 10px;
    }
    body {
        margin-top: 122px;
    }
    .section-padding-80{
        padding-top: 40px;
        padding-bottom: 40px;
    }
}